<!DOCTYPE html>
<html>
<head>
<title>Project Work</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
</style>
</head>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
  <h1 class="w3-xlarge">HARD SKILLS ANALYSIS</h1>
  <h1>Pick a job</h1>

  <div class="w3-padding-32">
    <div class="w3-bar w3-border">
      <a href="/data-engineer" class="w3-bar-item w3-button">Data Engineer</a>
      <a href="/data-analyst" class="w3-bar-item w3-button w3-hide-small">Data Analyst</a>
      <a href="/java-developer" class="w3-bar-item w3-button w3-hide-small">Java Developer</a>
      <a href="/salesforce-developer" class="w3-bar-item w3-button w3-hide-small">Salesforce Developer</a>
      <a href="/microsoft-developer" class="w3-bar-item w3-button w3-hide-small">Microsoft Developer</a>
      <a href="/cloud-specialist" class="w3-bar-item w3-button w3-hide-small">Cloud Specialist</a>
      <a href="/system-cybersecurity" class="w3-bar-item w3-button w3-hide-small">Cybersecurity</a>
    </div>
  </div>
</header>

<!-- End Page Content -->
</div>

</body>
</html>